@page "/"
@page "/index"
@inject IMovieRepository repoMovie

<div>
    <h3>In theaters</h3>
    <MovieList Movies="InTheaters" />
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MovieList Movies="UpcomingReleases" />
</div>

@code{
    private List<Movie> InTheaters;
    private List<Movie> UpcomingReleases;

    protected async override Task OnInitializedAsync() {
        var response = await repoMovie.GetIndexPageDTO();
        InTheaters = response.InTheaters;
        UpcomingReleases = response.UpcomingReleases;
    }
}