@page "/movie/edit/{MovieId:int}"
@inject IMovieRepository repoMovie
@inject NavigationManager nav
@attribute [Authorize(Roles = "Admin")]

<h3>Edit Movie</h3>

@if (movie != null) {
    <MovieForm Movie="movie" OnValidSubmit="edit" SelectedActors="selectedActors"
        SelectedGenres="selectedGenres" NotSelectedGenres="notSelectedGenres" />
}

@code {
    [Parameter] public int MovieId { get; set; }

    protected async override Task OnInitializedAsync() {
        var movieUpdateDTO = await repoMovie.GetMovieForUpdate(MovieId);

        movie = movieUpdateDTO.Movie;
        selectedActors = movieUpdateDTO.Actors;
        selectedGenres = movieUpdateDTO.SelectedGenres;
        notSelectedGenres = movieUpdateDTO.NotSelectedGenres;
    }

    private Movie movie;
    private List<Genre> notSelectedGenres;
    private List<Genre> selectedGenres;
    private List<Person> selectedActors;
    private async Task edit() {
        await repoMovie.UpdateMovie(movie);
        nav.NavigateTo($"movie/{MovieId}/{movie.Title.Replace(" ", "-")}");
    }
}